.footer-link{
  margin-top: 16px;
}

.footer-link a{
  text-decoration: none;
  color: #454b51;
  font-size: 15px;
}

.footer-link:hover {
  color: #387ed1;
}

.nav-item{
    margin-left: 40px;
}

.brokerage h3{
margin-bottom: 2rem;
}

.createticket a{
  text-decoration: none;
}

.createticket  li {
  padding: 12px;
  border: 1px solid rgb(237, 236, 236) ;
}